@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin abscenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//
//
//MEDIA QUERIES MANAGER

/* 
 0-767px Phone

 767px- 991px  Tablet
 768px- 992px  Tablet Portrait
 993px- 1099px  Tablet landscape
 1100 px - infinity desktop

*/


/*
$breakpont arguments choices:
-phone
-tab-port
-tab-landscape
-big-desktop
*/

@mixin respond ($breakpoint) {
    @if $breakpoint==phone {
        // 600px
        @media only screen and (max-width: 37.5em) {
            // px to em converter  1em = 767/16 = 47.9375
            @content
        }
        ;
    }
    @if $breakpoint==tab-port {
        // 900 px
        @media only screen and (max-width: 56.25em) {
            @content
        }
        ;
    }
    @if $breakpoint==tab-land {
        // 1200px
        @media only screen and (max-width: 75em) {
            @content
        }
        ;
    }
    @if $breakpoint==big-desktop {
        // 1400px
        @media only screen and (min-width: 112.5em) {
            @content
        }
        ;
    }
}